# Compiled Object files
*.slo
*.lo
*.o
*.so

# Build directory
build/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled Bytecode files
*.bc

# Executables
*.exe
*.out
*.app

# IDE and Editor files
*.swp
*.swo
*~
.DS_Store
.vscode/

# Test-related files
test/*.output
test/*.diff
test/*.log

# Documentation build files
doc/_build/

# Other generated or temporary files
*.pid
*.core

# Emacs temporary files
\#*\#
*~
.\#*
